header{
    text-align: center;
}

#main {
    display: flex;
    flex-direction: row;

    width: 80%;

    margin: 15vh auto none auto;
}

#main-left {
    width: 50%;
}

#word-size-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 25px 25px 25px 25px;
    border-radius: 5px 5px 0px 0px;

    background-color: #6bba6b;
}

#known-letters-div {
    padding: 25px 25px 25px 25px;

    background-color: #6bba6b;
}

#found-letters-div {
    padding: 25px 25px 25px 25px;

    background-color: #f3c237;
}

#excluded-letters-div {
    padding: 25px 25px 25px 25px;
    border-radius: 0px 0px 5px 5px;

    background-color: #a4aec4;
}

#letters{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

#main-right {
    width: 50%;
}

.word-size-button{
    width: 50px;
    height: 50px;

    font-size: 24px;

    cursor: pointer;
    
    border: none;
    border-radius: 10px;

    color: black;
    background-color: #c4cbdd;

    transition: .25s;
}
.word-size-button:hover{
    font-size: 28px;

    transition: .5s;
}

.letter-input{
    width: 50px;
    height: 50px;

    border: none;
    border-radius: 5px;

    font-size: 28px;
    text-align: center;
}
.letter-input:disabled{
    background-color: #c4cbdd;
}

#suggestions{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    padding: 10px;
    max-height: 400px;
}
.suggestion{
    font-size: 28px;

    text-align: center;

    padding: 0px 10px;
    margin: 2px auto;
    border-radius: 5px;

    color: black;
    background-color: #c4cbdd;
}